@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: overlay;
}

body {
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.6);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
}

#splashScreen {
  display: block;
  position: absolute;
  font-size: 2em;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mainContent {
  display: none;
  position: relative;
  -webkit-animation-name: animation;
  -webkit-animation-duration: 1s;
  animation-name: animation;
  animation-duration: 1s
}

#gameWindow {
  display: block;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #353434;
  background-color: #232121;
  border-radius: 2px;
}

#mainContent p {
  font-size: 10px;
  font-weight: 100;
  display: block;
  text-align: center;
  margin-left: 765px;
}

#mainContent span {
  cursor: pointer;
  color: #8c8c8c29;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes animation {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animation {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

.text-high {
  color: #ffffffde;
}

.text-medium {
  color: #ffffff99;
}

.text-disabled {
  color: #ffffff61;
}
